html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
}

#page {
    height: 100%;
    display:grid;
    grid-template-columns: 0.2fr 0.8fr;
}

#sidebar {
    overflow-y: auto;
    border-right: solid 2px #444;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    
}

#canvas {
    /* border: solid 1px red; */
}

.options-category-container {
    margin: 5px 10px 5px 10px;
}

.nested-options-category-container {
    margin-left: 15px;    
}

.options-input-container {
    padding: 2px 5px 0px 5px;
}

.options-short-group {
    display: inline-block;
}

#threshold-option-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:20px;
}

#threshold-title {
    flex-grow: 0;
}

#threshold-slider-container {
    flex-grow: 1;
    flex-shrink: 0;
}

#threshold-slider {
    height: 10px;
    border: solid 1px gray;
    border-radius: 15px;
}

#threshold-slider .noUi-handle {
    height: 20px;
    width: 20px;
    /* top: -5px; */
    right: -10px;
    border-radius: 10px;
    border: solid 2px white;
    padding: 2px;
    background: gray;
    box-shadow: 0px 1px 1px #8a8a8a;
}

#threshold-slider .noUi-handle:hover:enabled {
    background: #484851;
}

#threshold-slider .noUi-handle:active:enabled {
    background: #2374ff;
}

#threshold-slider .noUi-handle::before,
#threshold-slider .noUi-handle::after {
    display: none;
}

.noUi-connect {
    background-color: white;
}

.noUi-tooltip {
    border: none;
    background: none;
}

.noUi-horizontal .noUi-tooltip {
    transform: translate(-50%, 25%);
}

input[type="file"] {
    display: none;
}
  
.standard-button {
    background-color: #E9E9ED;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px #8f8f9d;
    padding: 2px 4px 2px 4px;
    text-align: center;
}

.standard-button:hover {
    background-color: #D0D0D7;
}

.standard-button:active {
    background-color: #B1B1B9;
}

.title {
    color: #444;
    font-size: 16px;
    font-weight: bold;
}

.subtitle {
    /* color: #444; */
    font-size: 14px;
    font-weight: bold;
}

.subsubtitle {
    font-size: 14px;
    font-weight: bold;
}

.highlight-color {
    background-color: #2374ff;
}