html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
}

#page {
    height: 100%;
    display:grid;
    grid-template-columns: 0.2fr 0.8fr;
}

#sidebar {
    overflow-y: auto;
    border-right: solid 2px #444;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    
}

#canvas {
    /* border: solid 1px red; */
}

.options-category-container {
    margin: 5px 10px 5px 10px;
}

.options-input-container {
    padding: 2px 5px 0px 5px;
}

.options-short-group {
    display: inline-block;
}

#threshold-slider-container {
    margin: 5px 0 5px 0;
}

#threshold-slider {
    height: 10px;
    border: solid 1px gray;
    border-radius: 15px;
}

#threshold-slider .noUi-handle {
    height: 20px;
    width: 20px;
    /* top: -5px; */
    right: -10px;
    border-radius: 10px;
    border: solid 2px white;
    padding: 2px;
    background: gray;
    box-shadow: 0px 1px 1px #8a8a8a;
}

#threshold-slider .noUi-handle:hover:enabled {
    background: #484851;
}

#threshold-slider .noUi-handle:active:enabled {
    background: #2374ff;
}

#threshold-slider .noUi-handle::before,
#threshold-slider .noUi-handle::after {
    display: none;
}

.noUi-connect {
    background-color: #2374ff;
}

.noUi-tooltip {
    border: none;
    background: none;
}